body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.photo-frame {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 70%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    transition: all 0.5s ease;
}

.photo-frame:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 29, 21, 0.9);
}

img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.quote {
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.flower {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('./img/pngwing.com.png');
    background-size: cover;
    opacity: 0.8;
}

/* Para dispositivos móveis */
@media (max-width: 767px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .photo-frame {
        width: 100%;
        max-width: 300px; /* Reduzir o tamanho da imagem em telas pequenas */
        height: auto; /* Altura automática para manter a proporção */
    }

    img {
        width: 100%;
        height: auto;
        object-fit: contain; /* Mostrar a imagem inteira sem cortes */
        border-radius: 8px; /* Cantos arredondados para um visual mais suave */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra leve para destaque */
    }

    .quote {
        font-size: 1em; /* Ajusta o tamanho da citação para telas menores */
        padding: 10px;
        text-align: center; /* Centraliza o texto para melhorar a leitura */
    }
}

